name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test and build
        uses: actions/setup-node@v1
        with:
          node-version: 14.17
      - run: npm install
      - run: git config --global init.defaultBranch master
      - run: git config --global user.email "you@example.com"
      - run: git config --global user.name "Your Name"
      - run: npm test
        env:
          CI: true
